@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 38px;
    height: 24px;
    padding: 0;
    flex-shrink: 0;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: $color-blue;
      transition: background $transition-base, transform $transition-base;
    }

  }

  span {
    font-size: 15px;
    color: $color-dark;
    font-weight: 600;
  }

  &:hover .burger span:first-child {
    transform: translateY(-2px);
  }

  &:hover .burger span:last-child {
    transform: translateY(2px);
  }
}
