@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.section {
  background: $color-white;
  overflow: hidden;
  padding: 0 80px;

  @include desktop {
    padding: 0 40px;
  }

  @include small-desktop {
    padding: 0 30px;
  }

  @include tablet {
    padding: 0 40px 0 0;
  }

  @include mobile {
    padding: 0 20px 0 0;
  }
}

.inner {
  display: flex;
  min-height: 600px;
  gap: 293px;

  @include wide {
    min-height: 700px;
  }

  @include desktop {
    gap: 226px;
  }

  @include small-desktop {
    min-height: 520px;
    gap: 148px;
  }

  @include tablet {
    min-height: auto;
    gap: 94px;
  }

  @include mobile {
    flex-direction: column;
    min-height: auto;
    gap: 40px;
  }
}

.imageCol {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex: none;
    width: 290px;
    height: 408px;
  }

  @include mobile {
    flex: none;
    width: calc(100vw - 64px);
    height: 445px;
  }
}

.imageLabel {
  text-align: right;
  padding-bottom: 35px;
  flex-shrink: 0;

  font-size: 17px;

  @include desktop {
    font-size: 13px;
    padding-bottom: 27px;
  }

  @include small-desktop {
    font-size: 11px;
    padding-bottom: 20px;
  }

  @include tablet {
    font-size: 11px;
    padding-bottom: 20px;
  }

  @include mobile {
    font-size: 11px;
    padding-bottom: 10px;
  }
}

.imageWrap {
  position: relative;
  width: 733px;
  height: 900px;

  @include desktop {
    width: 567px;
    height: 720px;
  }

  @include small-desktop {
    width: 408px;
    height: 514px;
  }

  @include tablet {
    width: 290px;
    height: 408px;
  }

  @include mobile {
    width: 100%;
    height: 420px;
  }
}

.imageClip {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.blueSeparator {
  width: 63px;
  height: 12px;
  background: $color-blue;
  border-radius: 2px;

  @include desktop {
    width: 49px;
    height: 9px;
  }

  @include small-desktop {
    width: 35px;
    height: 6px;
  }

  @include tablet {
    width: 35px;
    height: 6px;
  }
  @include mobile {
    width: 35px;
    height: 6px;
  }
}

.badge {
  position: absolute;
  top: 30%;
  right: calc(-259px / 2);
  transform: translateY(-50%);
  width: 259px;
  height: 259px;
  border-radius: 50%;
  background: $color-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: 20px;
  font-weight: 700;
  z-index: 2;
  box-shadow: 0 4px 20px rgba(71, 111, 234, 0.4);

  @include desktop {
    width: 200px;
    height: 200px;
    right: -100px;
  }

  @include small-desktop {
    width: 148px;
    height: 148px;
    right: -75px;
  }

  @include tablet {
    right: -40px;
    top: auto;
    bottom: 260px;
    transform: none;
    width: 81px;
    height: 81px;
  }

  @include mobile {
    right: -45px;
    bottom: -24px;
    width: 87px;
    height: 87px;
    font-size: 16px;
  }
}

.badgeLogo {
  position: relative;
  width: 63px;
  height: 88px;

  @include desktop {
    width: 49px;
    height: 68px;
  }

  @include small-desktop {
    width: 35px;
    height: 49px;
  }

  @include tablet {
    width: 19px;
    height: 27px;
  }

  @include mobile {
    width: 20px;
    height: 27px;
  }
}

.textCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 133px;
  width: 587px;

  @include desktop {
    padding-top: 102px;
    width: 454px;
  }

  @include small-desktop {
    padding-top: 76px;
    width: 334px;
  }

  @include tablet {
    padding-top: 59px;
    width: 334px;
  }

  @include mobile {
    padding: 0 20px;
    width: 100%;
  }

  .textBlock {
    text-transform: uppercase;
  }

  .titleBlock {
    margin: 65px 0 120px;

    @include desktop {
      margin: 50px 0 100px;
    }

    @include small-desktop {
      margin: 35px 0 65px;
    }

    @include tablet {
      margin: 30px 0 20px;
    }

    @include mobile {
      margin: 30px 0 40px;
    }
  }

  .subtitleBlock {
    margin-bottom: 100px;

    @include desktop {
      margin-bottom: 96px;
    }

    @include small-desktop {
      margin-bottom: 60px;
    }

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.titleText {
  font-size: 34px;
  line-height: 1.4;
  text-transform: uppercase;

  @include desktop {
    font-size: 26px;
  }

  @include small-desktop {
    font-size: 19px;
  }

  @include tablet {
    font-size: 19px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 1.5;
  }
}

.subtitleText {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;

  @include desktop {
    font-size: 16px;
  }

  @include small-desktop {
    font-size: 12px;
    line-height: 1.8;
  }

  @include tablet {
    font-size: 12px;
    line-height: 1.8;
  }

  @include mobile {
    font-size: 11px;
    line-height: 1.8;
  }
}
