@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 100px 80px 150px;
  overflow: hidden;

  @include desktop {
    padding: 103px 40px 0;
  }

  @include small-desktop {
    padding: 103px 30px 0;
  }

  @include tablet {
    padding: 123px 40px 0;
    overflow: visible;
  }

  // iOS fix: no 100vh on mobile
  @include mobile {
    height: auto;
    min-height: -webkit-fill-available;
    min-height: 100dvh;
    padding: 81px 20px 0;
  }
}

.imageWrap {
  position: relative;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  height: 600px;

  @include desktop {
    flex: none;
    height: 506px;
  }

  @include small-desktop {
    flex: none;
    height: 411px;
  }

  @include tablet {
    flex: none;
    height: 487px;
  }

  @include mobile {
    flex: none;
    height: 313px;
  }
}

.image {
  object-fit: cover;
  object-position: center;
}

.titleWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 199px;

  @include small-desktop {
    height: 130px;
  }

  @include tablet {
    height: auto;
    align-items: start;
    flex-direction: column;
    gap: 43px;
    padding-top: 40px;
  }

  @include mobile {
    height: auto;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-top: 20px;
  }

  .subtitle {
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 31px;

    @include desktop {
      font-size: 26px;
    }

    @include small-desktop {
      font-size: 19px;
    }

    @include tablet {
      font-size: 26px;
    }

    @include mobile {
      font-size: 4vw;
    }
  }
}

.title {
  display: block;
  font-size: 192px;
  letter-spacing: 0.05em;
  line-height: 1;
  position: relative;
  left: 20px;
  margin-top: -0.175em;
  margin-bottom: -0.12em;

  @include desktop {
    font-size: 160px;
  }

  @include small-desktop {
    font-size: 123px;
    left: 13px;
  }

  @include tablet {
    font-size: 19vw;
    left: 0;
    margin-left: -10px;
    width: calc(100vw - 80px);
  }

  @include mobile {
    font-size: 19vw;
    width: calc(100vw - 40px);
    left: -3px;
  }
}
